<div id="ad-h" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#ad-h" data-slide-to="0" class="active"></li>
    <li data-target="#ad-h" data-slide-to="1"></li>
    <li data-target="#ad-h" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item" ><a href="http://www.canon.com.cn/"><%=image_tag 'canon1.jpg'%></a></div>
    <div class="item"><a href="http://www.canon.com.cn/"><%=image_tag 'canon2.jpg'%></a></div>
    <div class="item"><a href="http://www.canon.com.cn/"><%=image_tag 'canon3.jpg'%></a></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#ad-h" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#ad-h" data-slide="next">&rsaquo;</a>
</div>

<div id="ad-l" style="float:left">
  <a href="http://zt.ztgame.com/"><%=image_tag "juren1.jpg"%></a>
</div>

<div id="centercon">
  <div id="news" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#news" data-slide-to="0" class="active"></li>
      <li data-target="#news" data-slide-to="1"></li>
      <li data-target="#news" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="active item news"><a href="#"><%=image_tag 'news1.jpg'%></a><a href="#"><%=image_tag 'news2.jpg'%></a><a href="#"><%=image_tag 'news3.jpg'%></a></div>
      <div class="item news"><a href="#"><%=image_tag 'news1.jpg'%></a><a href="#"><%=image_tag 'news2.jpg'%></a><a href="#"><%=image_tag 'news3.jpg'%></a></div>
      <div class="item news"><a href="#"><%=image_tag 'news1.jpg'%></a><a href="#"><%=image_tag 'news2.jpg'%></a><a href="#"><%=image_tag 'news3.jpg'%></a></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#news" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#news" data-slide="next">&rsaquo;</a>
  </div>
  
  <% for i in 1...@days do %>
    <%if @conferences[i] %>
      <button class="btn day" onclick="window.location.href='<%= user_conference_path(:id=>@conferences[i].first.id)%>'">
    <% else %>
    <button class="btn day" data-toggle="modal" data-target="#pop-<%=i%>" flag="<%=i%>">
    <% end %>
      <div style="position:absolute;top:2px;"><%=Time.now.strftime("%-m-")+i.to_s%></div>
        <%if @conferences[i] %>
          <div><%=image_tag @conferences[i].first.figure%></div>
          <div class="title" style="position:absolute;bottom:2px;font-size:5px"><%=@conferences[i].first.title%></div>
        <% end %>
    </button>

    <%if !@conferences[i] %>
      <div class="modal hide fade data-pop" id="pop-<%=i%>" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>今天没有会议</h3>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
      </div>
    <% end %>
  <%end%>
  <div style="float:right;padding-top:50px"><%=link_to "www.yyw.com","http://www.yyw.com",:style=>"margin-right:4px"%><%=image_tag "qrcode.png",:style=>"width:30%"%></div>
</div>
<div id="ad-r" style="float:right">
  <a href="http://www.ztgame.com/"><%=image_tag "juren2.jpg"%></a>
</div>
