<div class="row info-main">
  <div class="span1 left-tool">
    <div class="res"><div class="res-rect">资源数<br>467</div></div>
    <div class="info_items"><%=image_tag 'item1.png'%><p>媒资</p></div>
    <div class="info_items"><%=image_tag 'item2.png'%><p>私信</p></div>
    <div class="info_items"><%=image_tag 'item3.png'%><p>会客厅</p></div>
    <div class="info_items"><%=image_tag 'item4.png'%><p>个人设置</p></div>
    <div class="row" style="width:350px">
      <div class="span2" style="float:left;width:75px"><%=image_tag "tou.png"%></div>
      <div class="span2" style="width:140px;color:white;margin-left:10px;padding-top:10px;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);"><%=current_user.name%><br>记者</div>
    </div>
  </div>
  <div class="span4 right-options">
    <%@menu = {1=>"今日定制",2=>"封面杂志",3=>"个人资源",4=>"我要参与",5=>"高级分享",6=>"我的收藏",7=>"私活挖人"}%>
    <%@menu.each do |k,v|%>
      <%if k==1||k==2||k==5||k==6%>
        <%i = 'menu'%>
      <%else%>
        <% i='bluemenu'%>
      <%end%>
      <div class="<%=i%>" data-toggle="modal" data-target="#pop-<%=k%>" flag="<%=k%>" >
        <div style="margin: 30% auto;color: white;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);"><%=image_tag 'option'+k.to_s+'.png'%><p><%=v%></p></div>
      </div>
      <div class="modal hide fade data-pop" id="pop-<%=k%>" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3><%=v%></h3>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        </div>
      </div>
    <% end %>
      <div class="bluemenu">
        <div style="margin: 40% auto;color: white;">+</div>
      </div>
  </div>
  <div class="span7"></div>
</div>
