<div style="padding-left:200px;position:relative;">
  <div style="background:#CFC6C6;height:50px;width:50px;position:absolute;left:50px"><%=image_tag "avatar.png"%></div>
  <%@menu = {1=>"今日定制",2=>"封面杂志",3=>"个人资源",4=>"我要参与",5=>"级分享",6=>"我的收藏",7=>"+"}%>
  <%@menu.each do |k,v|%>
  <div class="menu" data-toggle="modal" data-target="#pop-<%=k%>" flag="<%=k%>" >
  <div style="margin: 40% auto;color: white;"><%=v%></div></div>
  <div class="modal hide fade data-pop" id="pop-<%=k%>" >
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3><%=v%></h3>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
  </div>
  <% end %>

  
</div>
