<div style="margin:0 auto;">
              <ul>
                <li><a href="<%=user_conferences_path%>"><%=image_tag "home.png"%></a></li>
                <li><a href="#"><%=image_tag "search.png"%></a></li>
                <li><a href="#"><%=image_tag "option.png"%></a></li>
                <li><a href="#"><%=image_tag "camera-w.png"%></a></li>
                <li><a href="#"><%=image_tag "people.png"%></a></li>
                <li><a href="#"><%=image_tag "mic.png"%></a></li>
              </ul>
            </div>
