<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "跑嘛会" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "跑嘛会 会议 conference" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" style="position:relative">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/confnav' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div >
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
          <footer>
            <div style="margin:0 auto;">
              <button class="btn btn-danger footbtn"><%=image_tag 'stored.png'%></button>
              <button class="btn btn-danger footbtn"><%=image_tag 'warned.png'%></button>
              <button class="btn btn-danger footbtn"><%=image_tag 'delete.png'%></button>
              <button class="btn btn-danger footbtn"><%=image_tag 'store.png'%></button>
              <button class="btn btn-danger footbtn"><%=image_tag 'warning.png'%></button>
            </div>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
