<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "跑嘛会" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "跑嘛会 会议 conference" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=F2d926f05b024f333b97b3e0d69524e3"></script>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" style="position:relative">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container">
        <div >
           <div class="row">
            <div class="span12">
              <div id="ad-h" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#ad-h" data-slide-to="0" class="active"></li>
    <li data-target="#ad-h" data-slide-to="1"></li>
    <li data-target="#ad-h" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item" ><a href="http://www.canon.com.cn/"><%=image_tag 'canon1.jpg'%></a></div>
    <div class="item"><a href="http://www.canon.com.cn/"><%=image_tag 'canon2.jpg'%></a></div>
    <div class="item"><a href="http://www.canon.com.cn/"><%=image_tag 'canon3.jpg'%></a></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#ad-h" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#ad-h" data-slide="next">&rsaquo;</a>
</div>

<div id="ad-l" style="float:left">
  <a href="http://zt.ztgame.com/"><%=image_tag "juren1.jpg"%></a>
</div>
              <%= yield %>
<div id="ad-r" style="float:right">
  <a href="http://www.ztgame.com/"><%=image_tag "juren2.jpg"%></a>
</div>
            </div>
          </div>
          <footer>
            <%=render 'layouts/foottool'%>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
