<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "跑嘛会" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "跑嘛会 会议 conference" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=F2d926f05b024f333b97b3e0d69524e3"></script>
  </head>
  <body class="<%= controller_name %> <%= action_name %> " style="padding-top:0px">
    <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div>
    <div id="main" role="main">
      <div class="container" style="width:100%">
        <div >
           <div class="row">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
          <footer>
            <%= render 'layouts/foottool' %>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
